<p id="notice"><%= notice %></p>

<p>
  <b> player name:</b>
  <%= @sheets.player_name %>
</p>

<p>
  <b>Charachter name:</b>
  <%= @sheets.charachter_name %>
</p>

<p>
  <b>Game:</b>
  <%= @sheets.game.game_name %>
</p>


<%= link_to 'Edit', edit_sheet_path(@sheets) %> |
<%= link_to 'Back', sheets_path %>
