
%h1 Listing sheets

%table.table.table-striped.table-bordered
  %tr
    %th Player ID
    %th Player name
    %th Charachter name
    %th Game
    %th
    %th
    %th

  - @sheets.each do |sheet|
    %tr
      %td= sheet.user_id 
      %td= sheet.player_name
      %td= sheet.charachter_name 
      %td= sheet.game.try(:game_name) 
      %td= link_to 'Show', sheet
      %td= link_to 'Edit', edit_sheet_path(sheet)
      %td= link_to 'Destroy', sheet, method: :delete, data: { confirm: 'Are you sure?' } 

%br
= link_to 'New Sheet', new_sheet_path, class: 'btn btn-primary'